@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

// body {
//     color: hsl(var(--foreground));
//     overflow-x: hidden;
//     max-width: 100svw;

//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// /* Common */

// ::-webkit-scrollbar {
//     width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: hsl(var(--background-scroll));
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: hsl(var(--muted-foreground));
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: hsl(var(--primary));
// }

// img,
// svg {
//     max-width: 100%;
//     height: auto;
// }

// /* Form */

// button,
// input[type='submit'] {
//     display: inline-block;
//     box-shadow: none;
//     background-color: transparent;
//     background: none;
//     cursor: pointer;
// }

// input:focus,
// input:active,
// button:focus,
// button:active {
//     outline: none;
// }

// button::-moz-focus-inner {
//     padding: 0;
//     border: 0;
// }

// label {
//     cursor: pointer;
// }

// legend {
//     display: block;
// }

@layer base {
    :root {
        --background-primary: 0 0% 98.5%;
        --background-accent: 0, 0%, 100%;
        --background-scroll: 0, 0%, 90%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 99.5%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 90.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 80%;
        --input: 0 0% 50%;
        --ring: 0 0% 82%;
        --radius: 0.5rem;
    }

    .dark {
        --background-primary: 0, 0%, 0%;
        --background-accent: 0, 0%, 4%;
        --background-scroll: 15, 10%, 12%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 1%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 73%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 50.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 18%;
        --input: 0 0% 60%;
        --ring: 0 0% 25%;
    }
}
* {
    @apply border-border;
}
