// .MarkdownPreview {
//     padding: 4px;
//     line-height: 1.5;

//     ul {
//         margin-top: 1em;
//         margin-bottom: 1em;
//         list-style: disc outside none;
//     }

//     h1 {
//         font-size: 30px;
//     }
// }

.markdownbody {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    margin: 0;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdownbody .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdownbody h1:hover .anchor .octicon-link:before,
.markdownbody h2:hover .anchor .octicon-link:before,
.markdownbody h3:hover .anchor .octicon-link:before,
.markdownbody h4:hover .anchor .octicon-link:before,
.markdownbody h5:hover .anchor .octicon-link:before,
.markdownbody h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdownbody details,
.markdownbody figcaption,
.markdownbody figure {
    display: block;
}

.markdownbody summary {
    display: list-item;
}

.markdownbody [hidden] {
    display: none !important;
}

.markdownbody a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none;
}

.markdownbody abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.markdownbody b,
.markdownbody strong {
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdownbody dfn {
    font-style: italic;
}

.markdownbody h1 {
    margin: 0.67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdownbody mark {
    background-color: var(--color-attention-subtle);
    color: var(--color-fg-default);
}

.markdownbody small {
    font-size: 90%;
}

.markdownbody sub,
.markdownbody sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdownbody sub {
    bottom: -0.25em;
}

.markdownbody sup {
    top: -0.5em;
}

.markdownbody img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default);
}

.markdownbody code,
.markdownbody kbd,
.markdownbody pre,
.markdownbody samp {
    font-family: monospace;
    font-size: 1em;
}

.markdownbody figure {
    margin: 1em 40px;
}

.markdownbody hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--color-border-muted);
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--color-border-default);
    border: 0;
}

.markdownbody input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdownbody [type='button'],
.markdownbody [type='reset'],
.markdownbody [type='submit'] {
    -webkit-appearance: button;
    appearance: button;
}

.markdownbody [type='checkbox'],
.markdownbody [type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

.markdownbody [type='number']::-webkit-inner-spin-button,
.markdownbody [type='number']::-webkit-outer-spin-button {
    height: auto;
}

.markdownbody [type='search']::-webkit-search-cancel-button,
.markdownbody [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.markdownbody ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.markdownbody ::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit;
}

.markdownbody a:hover {
    text-decoration: underline;
}

.markdownbody ::placeholder {
    color: var(--color-fg-subtle);
    opacity: 1;
}

.markdownbody hr::before {
    display: table;
    content: '';
}

.markdownbody hr::after {
    display: table;
    clear: both;
    content: '';
}

.markdownbody table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;

    td,
    th {
        border: 1px solid;
    }
}

.markdownbody td,
.markdownbody th {
    padding: 0;
    border: 1px solid;
}

.markdownbody details summary {
    cursor: pointer;
}

.markdownbody details:not([open]) > *:not(summary) {
    display: none !important;
}

.markdownbody a:focus,
.markdownbody [role='button']:focus,
.markdownbody input[type='radio']:focus,
.markdownbody input[type='checkbox']:focus {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none;
}

.markdownbody a:focus:not(:focus-visible),
.markdownbody [role='button']:focus:not(:focus-visible),
.markdownbody input[type='radio']:focus:not(:focus-visible),
.markdownbody input[type='checkbox']:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

.markdownbody a:focus-visible,
.markdownbody [role='button']:focus-visible,
.markdownbody input[type='radio']:focus-visible,
.markdownbody input[type='checkbox']:focus-visible {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none;
}

.markdownbody a:not([class]):focus,
.markdownbody a:not([class]):focus-visible,
.markdownbody input[type='radio']:focus,
.markdownbody input[type='radio']:focus-visible,
.markdownbody input[type='checkbox']:focus,
.markdownbody input[type='checkbox']:focus-visible {
    outline-offset: 0;
}

.markdownbody kbd {
    display: inline-block;
    padding: 3px 5px;
    font:
        11px ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: var(--color-canvas-subtle);
    border: solid 1px var(--color-neutral-muted);
    border-bottom-color: var(--color-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.markdownbody h1,
.markdownbody h2,
.markdownbody h3,
.markdownbody h4,
.markdownbody h5,
.markdownbody h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
}

.markdownbody h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdownbody h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}

.markdownbody h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em;
}

.markdownbody h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.875em;
}

.markdownbody h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.85em;
    color: var(--color-fg-muted);
}

.markdownbody p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdownbody blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: 0.25em solid var(--color-border-default);
}

.markdownbody ul,
.markdownbody ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdownbody ol ol,
.markdownbody ul ol {
    list-style-type: lower-roman;
}

.markdownbody ul ul ol,
.markdownbody ul ol ol,
.markdownbody ol ul ol,
.markdownbody ol ol ol {
    list-style-type: lower-alpha;
}

.markdownbody dd {
    margin-left: 0;
}

.markdownbody tt,
.markdownbody code,
.markdownbody samp {
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
}

.markdownbody pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdownbody .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdownbody input::-webkit-outer-spin-button,
.markdownbody input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdownbody .mr-2 {
    margin-right: var(--base-size-8, 8px) !important;
}

.markdownbody::before {
    display: table;
    content: '';
}

.markdownbody::after {
    display: table;
    clear: both;
    content: '';
}

.markdownbody > *:first-child {
    margin-top: 0 !important;
}

.markdownbody > *:last-child {
    margin-bottom: 0 !important;
}

.markdownbody a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdownbody .absent {
    color: var(--color-danger-fg);
}

.markdownbody .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdownbody .anchor:focus {
    outline: none;
}

.markdownbody p,
.markdownbody blockquote,
.markdownbody ul,
.markdownbody ol,
.markdownbody dl,
.markdownbody table,
.markdownbody pre,
.markdownbody details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdownbody blockquote > :first-child {
    margin-top: 0;
}

.markdownbody blockquote > :last-child {
    margin-bottom: 0;
}

.markdownbody h1 .octicon-link,
.markdownbody h2 .octicon-link,
.markdownbody h3 .octicon-link,
.markdownbody h4 .octicon-link,
.markdownbody h5 .octicon-link,
.markdownbody h6 .octicon-link {
    color: var(--color-fg-default);
    vertical-align: middle;
    visibility: hidden;
}

.markdownbody h1:hover .anchor,
.markdownbody h2:hover .anchor,
.markdownbody h3:hover .anchor,
.markdownbody h4:hover .anchor,
.markdownbody h5:hover .anchor,
.markdownbody h6:hover .anchor {
    text-decoration: none;
}

.markdownbody h1:hover .anchor .octicon-link,
.markdownbody h2:hover .anchor .octicon-link,
.markdownbody h3:hover .anchor .octicon-link,
.markdownbody h4:hover .anchor .octicon-link,
.markdownbody h5:hover .anchor .octicon-link,
.markdownbody h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdownbody h1 tt,
.markdownbody h1 code,
.markdownbody h2 tt,
.markdownbody h2 code,
.markdownbody h3 tt,
.markdownbody h3 code,
.markdownbody h4 tt,
.markdownbody h4 code,
.markdownbody h5 tt,
.markdownbody h5 code,
.markdownbody h6 tt,
.markdownbody h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}

.markdownbody summary h1,
.markdownbody summary h2,
.markdownbody summary h3,
.markdownbody summary h4,
.markdownbody summary h5,
.markdownbody summary h6 {
    display: inline-block;
}

.markdownbody summary h1 .anchor,
.markdownbody summary h2 .anchor,
.markdownbody summary h3 .anchor,
.markdownbody summary h4 .anchor,
.markdownbody summary h5 .anchor,
.markdownbody summary h6 .anchor {
    margin-left: -40px;
}

.markdownbody summary h1,
.markdownbody summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

.markdownbody ul.no-list,
.markdownbody ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdownbody ol[type='a s'] {
    list-style-type: lower-alpha;
}

.markdownbody ol[type='A s'] {
    list-style-type: upper-alpha;
}

.markdownbody ol[type='i s'] {
    list-style-type: lower-roman;
}

.markdownbody ol[type='I s'] {
    list-style-type: upper-roman;
}

.markdownbody ol[type='1'] {
    list-style-type: decimal;
}

.markdownbody div > ol:not([type]) {
    list-style-type: decimal;
}

.markdownbody ul ul,
.markdownbody ul ol,
.markdownbody ol ol,
.markdownbody ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdownbody li > p {
    margin-top: 16px;
}

.markdownbody li + li {
    margin-top: 0.25em;
}

.markdownbody dl {
    padding: 0;
}

.markdownbody dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdownbody dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdownbody table th {
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdownbody table th,
.markdownbody table td {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

.markdownbody table td > :last-child {
    margin-bottom: 0;
}

.markdownbody table tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--boeder);
}

.markdownbody table tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

.markdownbody table img {
    background-color: transparent;
}

.markdownbody img[align='right'] {
    padding-left: 20px;
}

.markdownbody img[align='left'] {
    padding-right: 20px;
}

.markdownbody .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdownbody span.frame {
    display: block;
    overflow: hidden;
}

.markdownbody span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--color-border-default);
}

.markdownbody span.frame span img {
    display: block;
    float: left;
}

.markdownbody span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--color-fg-default);
}

.markdownbody span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownbody span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdownbody span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdownbody span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownbody span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdownbody span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdownbody span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdownbody span.float-left span {
    margin: 13px 0 0;
}

.markdownbody span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdownbody span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdownbody code,
.markdownbody tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--color-neutral-muted);
    border-radius: 6px;
}

.markdownbody code br,
.markdownbody tt br {
    display: none;
}

.markdownbody del code {
    text-decoration: inherit;
}

.markdownbody samp {
    font-size: 85%;
}

.markdownbody pre code {
    font-size: 100%;
}

.markdownbody pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdownbody .highlight {
    margin-bottom: 16px;
}

.markdownbody .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdownbody .highlight pre,
.markdownbody pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
}

.markdownbody pre code,
.markdownbody pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdownbody .csv-data td,
.markdownbody .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdownbody .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--color-canvas-default);
    border: 0;
}

.markdownbody .csv-data tr {
    border-top: 0;
}

.markdownbody .csv-data th {
    font-weight: var(--base-text-weight-semibold, 600);
    background: var(--color-canvas-subtle);
    border-top: 0;
}

.markdownbody [data-footnote-ref]::before {
    content: '[';
}

.markdownbody [data-footnote-ref]::after {
    content: ']';
}

.markdownbody .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default);
}

.markdownbody .footnotes ol {
    padding-left: 16px;
}

.markdownbody .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}

.markdownbody .footnotes li {
    position: relative;
}

.markdownbody .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: '';
    border: 2px solid var(--color-accent-emphasis);
    border-radius: 6px;
}

.markdownbody .footnotes li:target {
    color: var(--color-fg-default);
}

.markdownbody .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdownbody .pl-c {
    color: var(--color-prettylights-syntax-comment);
}

.markdownbody .pl-c1,
.markdownbody .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.markdownbody .pl-e,
.markdownbody .pl-en {
    color: var(--color-prettylights-syntax-entity);
}

.markdownbody .pl-smi,
.markdownbody .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdownbody .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.markdownbody .pl-k {
    color: var(--color-prettylights-syntax-keyword);
}

.markdownbody .pl-s,
.markdownbody .pl-pds,
.markdownbody .pl-s .pl-pse .pl-s1,
.markdownbody .pl-sr,
.markdownbody .pl-sr .pl-cce,
.markdownbody .pl-sr .pl-sre,
.markdownbody .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}

.markdownbody .pl-v,
.markdownbody .pl-smw {
    color: var(--color-prettylights-syntax-variable);
}

.markdownbody .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdownbody .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdownbody .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdownbody .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.markdownbody .pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}

.markdownbody .pl-mh,
.markdownbody .pl-mh .pl-en,
.markdownbody .pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.markdownbody .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.markdownbody .pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.markdownbody .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdownbody .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdownbody .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdownbody .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdownbody .pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdownbody .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdownbody .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdownbody .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.markdownbody g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1em;
    font-style: normal !important;
    font-weight: var(--base-text-weight-normal, 400);
    line-height: 1;
    vertical-align: -0.075em;
}

.markdownbody g-emoji img {
    width: 1em;
    height: 1em;
}

.markdownbody .task-list-item {
    list-style-type: none;
}

.markdownbody .task-list-item label {
    font-weight: var(--base-text-weight-normal, 400);
}

.markdownbody .task-list-item.enabled label {
    cursor: pointer;
}

.markdownbody .task-list-item + .task-list-item {
    margin-top: 4px;
}

.markdownbody .task-list-item .handle {
    display: none;
}

.markdownbody .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
}

.markdownbody .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}

.markdownbody .contains-task-list {
    position: relative;
}

.markdownbody .contains-task-list:hover .task-list-item-convert-container,
.markdownbody
    .contains-task-list:focus-within
    .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}

.markdownbody ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.markdownbody .markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: 16px;
    color: inherit;
    border-left: 0.25em solid var(--color-border-default);
}

.markdownbody .markdown-alert > :first-child {
    margin-top: 0;
}

.markdownbody .markdown-alert > :last-child {
    margin-bottom: 0;
}

.markdownbody .markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium, 500);
    align-items: center;
    line-height: 1;
}

.markdownbody .markdown-alert.markdown-alert-note {
    border-left-color: var(--color-accent-emphasis);
}

.markdownbody .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-accent-fg);
}

.markdownbody .markdown-alert.markdown-alert-important {
    border-left-color: var(--color-done-emphasis);
}

.markdownbody .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-done-fg);
}

.markdownbody .markdown-alert.markdown-alert-warning {
    border-left-color: var(--color-attention-emphasis);
}

.markdownbody .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-attention-fg);
}

.markdownbody .markdown-alert.markdown-alert-tip {
    border-left-color: var(--color-success-emphasis);
}

.markdownbody .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-success-fg);
}

.markdownbody .markdown-alert.markdown-alert-caution {
    border-left-color: var(--color-danger-emphasis);
}

.markdownbody .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-danger-fg);
}
